
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Coupon Details</h1>
            <div class="box">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Coupon Code</th>
                            <th>Detail</th>
                            <th>Expires On</th>
                            <th>Amount</th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>FTS10</td>
                            <td>purchasing more than 1000</td>
                            <td>20/02/2019</td>
                            <td>200</td>
      
                        </tr>
                        <tr>
                       <td>FTS11</td>
                            <td>purchasing more than 2000</td>
                            <td>20/02/2019</td>
                            <td>300</td>
                            </tr>
                        <tr>
                    <td>FTS12</td>
                            <td>purchasing more than 3000</td>
                            <td>20/02/2019</td>
                            <td>400</td>
                           </tr>
                        <tr>
                        <td>FTS13</td>
                            <td>purchasing more than 4000</td>
                            <td>20/02/2019</td>
                            <td>500</td>
                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>