<div class="wrapper bgwhite">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-6">
                    <div class="logintext">
                        <h1>Don't lave account? Click below link to register with us.</h1>
                        <a class="btn btn-default btn-lg" href="reg.html">Registration</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="loginouter">
                        <form action="" method="post" id="fileForm" role="form">
                            <fieldset>
                                <legend>Login
                                    <span class="req pull-right">
                                        <small> required *</small>
                                    </span>
                                </legend>
                                <div class="form-group">
                                    <label for="username">
                                        User name:
                                        <span class="req">* </span>
                                    </label>
                                    <input class="form-control" type="text" name="username" id="txt" onkeyup="Validate(this)" placeholder="" required />
                                </div>
                                <div class="form-group">
                                    <label for="password">
                                        Password:
                                        <span class="req">* </span>
                                    </label>
                                    <input required name="password" type="password" class="form-control inputpass" minlength="4" maxlength="16" id="pass1" />
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-success" type="submit" name="submit_reg" value="Login">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>