<div id="top">
    <div class="heightfix bglogin login">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div><br><br>
                        <img src="./assets/images/logo.svg" class="img-responsive center-block loginlogo" alt="logo">
                        <div class="logininner form-large">
                            <h1 class="logintitle">Site Admin Login</h1>
                            <form>
                                <div class="form-group">
                                    <div class="md-input">
                                        <input class="md-form-control" required="" type="text">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label><span class="lnr lnr-user"></span> User Name</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="md-input">
                                        <input class="md-form-control" required="" type="password">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label><span class="lnr lnr-lock"></span> Password</label>
                                    </div>
                                </div>
                                <a class="btn btn-primary btn-lg center-block" (click)="onClick()" >Login</a>
                            </form>
                            <div class="text-center martop20">
                                <a href="#">Forgot your password?</a>
                            </div>
                        </div>
                    </div>
                    <p class="text-center martop10">&copy; 2017 Cricket Admin. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
                       