<div class="col-md-12">
    <div class="pannelDiv" id="pannel1">
        <div class="x_panel">
            <div class="x_title">
                <h2>Tournament Management</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <div class="dropdown">
                            <a href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="lnr lnr-cog"></i></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><a href="#">Sub Menu</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><span class="txtmenu">Edit</span></a></li>
                                <li><a href="#"><span class="txtmenu">Alerts</span></a></li>
                                <li><a href="#"><span class="txtmenu">Profile</span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li data-toggle="tooltip" title="Add Tournament">
                        <a href="#" data-toggle="modal" data-target="#AddTournament"><i class="lnr lnr-plus-circle"></i> Add Tournament</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>City</th>
                            <th>Catogory</th>
                            <th>Custom Field1</th>
                            <th>Custom Field2</th>
                            <th>Add Detail</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
 <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '8px' }"></ngx-loading>
                    <tbody *ngFor="let sb of trounnament">
                        <tr>
                            <td>{{sb.id}}</td>
                            <td>{{sb.name}}</td>
                            <td>{{sb.type}}</td>
                            <td>{{sb.city}}</td>
                            <td>{{sb.category}}</td>
                            <td>{{sb.customvalue2}}</td>
                            <td>{{sb.customvalue1}}</td>
                            <td><a href="#" data-toggle="modal"><i class="lnr lnr-pencil"></i>Add Detail </a></td>
                            <td><a href="#" data-toggle="modal" data-target="#EditTournament"><i class="lnr lnr-pencil"></i>Add</a></td>
                            <td><a href="#" data-toggle="modal" data-target="#DeleteTournament"><i class="lnr lnr-trash"></i>Delete</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
