<div class="container">
    <div class="row box" *ngFor="let sa of sportsarena;let i = index">
        <div class="col-md-5">
            <owl-carousel [options]="{items: 1, dots: true, autoplay:true,loop:true,navigation: true}" [items]="sportsarena.imgurl" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                <div class="item" *ngFor="let img of sa.imgurl;let i = index">
                    <img src={{img}} class="img-responsive">
                </div>
            </owl-carousel>
        </div>
        <div class="col-md-4">
            <h1>Hubli Sports Club</h1>
            <h4><span class="lnr lnr-map-marker"></span> {{sa.name}}</h4>
            <p><span class="lnr lnr-clock"></span> 09:00 AM to 04:00 PM </p>
            <p>Cost: <span class="arialbold">₹</span> 5000.00</p>
            <div class="btn-wrapper">
                <a href="#" class="btn btn-default">Create League</a>
                <a href="#" class="btn btn-primary">Join League</a>
            </div>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#" class="btn btn-default">More Info</a></li>
                <li><a href="#" class="btn btn-default">Book Now!</a></li>
                <li><a href="#" class="btn btn-default">Choose an Opponent</a></li>
                <li><a href="#" class="btn btn-default">Play with friends</a></li>
            </ul>
        </div>
    </div>
</div>

<!--BOOK NOW PAGE-->
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <!--owl-carousel-->
            <img src="../assets/images/ground-01.jpg" class="img-responsive">
            <!--owl-carousel-->
        </div>
        <div class="col-md-7">
            <h1>Hubli Sports Club</h1>
            <a href="#" class="btn btn-default">More Info</a>
        </div>
        <div class="col-md-12">
            <h1>Membership</h1>
            <h2>Daily slot booking</h2>
            <div class="btn-group btn-group-justified mar200" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-default">MON <br>23ed Jan</a>
                </div>
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-default">TUE <br>24th Jan</a>
                </div>
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-default">WED <br>25th Jan</a>
                </div>
            </div>
            <div class="box">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Court</th>
                            <th>Timing</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>Court 1</td>
                            <td>8:00 PM to 10:00 PM</td>
                            <td>50,000</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>Court 2</td>
                            <td>8:00 PM to 10:00 PM</td>
                            <td>50,000</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Court 3</td>
                            <td>8:00 PM to 10:00 PM</td>
                            <td>50,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">No. of Matches
                                <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            </td>
                            <td class="text-right">Total Cost:</td>
                            <td><strong>1,50,000</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="mar200 text-right">
                <a class="btn btn-primary btn-lg">Proceed</a>
            </div>
        </div>
    </div>
</div>

<!--CART PAGE-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <h1>Booking Details</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Item 1</th>
                            <td>50,000</td>
                        </tr>
                        <tr>
                            <th>Item 2</th>
                            <td>50,000</td>
                        </tr>
                        <tr>
                            <th>Item 3</th>
                            <td>50,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-right">Total Cost:</td>
                            <td>1,50,000</td>
                        </tr>
                        <tr>
                            <td class="text-right">Rewardablr Rank:</td>
                            <td><input class="form-control" type="text"></td>
                        </tr>
                        <tr>
                            <td class="text-right">Compond Code:</td>
                            <td><input class="form-control" type="text"></td>
                        </tr>
                        <tr>
                            <td class="text-right">Net Payable:</td>
                            <td><strong>1,50,000</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mar200 text-right">
                <a class="btn btn-primary btn-lg">Make Payment</a>
            </div>
        </div>
    </div>
</div>