<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pannelDiv" id="pannel1">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="form-group col-md-5">
                            <img src="../assets/images/ground-02.jpg" class="img-responsive" title="ground image" alt="ground">
                        </div>
                        <div class="form-group col-md-7">
                            <h1>Hubli Sports Club</h1>
                            <h4><span class="lnr lnr-map-marker"></span> Name of the Area</h4>
                            <p><span class="lnr lnr-clock"></span> 09:00 AM to 04:00 PM </p>
                            <p>Cost: ₹ 3000.00</p>
                            <a href="#" class="btn btn-primary">Choose an Opponent</a>
                            <a href="#" class="btn btn-primary">Book Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="pannelDiv" id="pannel1">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="form-group col-md-5">
                            <img src="../assets/images/ground-01.jpg" class="img-responsive" title="ground image" alt="ground">
                        </div>
                        <div class="form-group col-md-7">
                            <h1>Hubli Sports Club</h1>
                            <h4><span class="lnr lnr-map-marker"></span> Name of the Area</h4>
                            <p><span class="lnr lnr-clock"></span> 09:00 AM to 04:00 PM </p>
                            <p>Cost: ₹ 5000.00</p>
                            <a href="#" class="btn btn-primary">Choose an Opponent</a>
                            <a href="#" class="btn btn-primary">Book Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>