
<!--CART PAGE-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <h1>Booking Details</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Item 1</th>
                            <td>50,000</td>
                        </tr>
                        <tr>
                            <th>Item 2</th>
                            <td>50,000</td>
                        </tr>
                        <tr>
                            <th>Item 3</th>
                            <td>50,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-right">Total Cost:</td>
                            <td>1,50,000</td>
                        </tr>
                        <tr>
                            <td class="text-right">Rewardablr Rank:</td>
                            <td><input class="form-control" type="text"></td>
                        </tr>
                        <tr>
                            <td class="text-right">Compond Code:</td>
                            <td><input class="form-control" type="text"></td>
                        </tr>
                        <tr>
                            <td class="text-right">Net Payable:</td>
                            <td><strong>1,50,000</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mar200 text-right">
                <a class="btn btn-primary btn-lg">Make Payment</a>
            </div>
        </div>
    </div>
</div>