<div class="col-md-12">
  <div class="pannelDiv" id="pannel2">
    <div class="x_panel">
      <div class="x_title">
        <h2>Tournament Detail</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a href="#" title="Back"><i class="lnr lnr-undo"></i> Back</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="detailbox">
          <p class="labeltext">Tournament Logo</p>
          <p><img class="tournament-logos" title="Tournament Logo" alt="Tournament Logo" src="./assets/images/logo.svg"></p>
        </div>
        <div class="detailbox">
          <p class="labeltext">Tournament Image</p>
          <p><img class="tournament-logos" title="Tournament Logo" alt="Tournament Logo" src="./assets/images/logo.svg"></p>
        </div>
        <div class="detailbox">
          <p class="labeltext">Tournament Details</p>
          <p class="lead">Tournament Details Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div class="detailbox">
          <p class="labeltext">Tournament Teams</p>
          <p class="lead"><span class="label label-primary"><span class="lnr lnr-users"></span> Team A</span> <span class="label label-primary"><span class="lnr lnr-users"></span>            Team A</span> <span class="label label-primary"><span class="lnr lnr-users"></span> Team B</span> <span class="label label-primary"><span class="lnr lnr-users"></span>            Team C</span> <span class="label label-primary"><span class="lnr lnr-users"></span> Team D</span>
          </p>
        </div>
        <div class="detailbox">
          <p class="labeltext">Tournament Rules</p>
          <ol>
            <li>Tournament Rules Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            <li>Tournament Rules Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            <li>Tournament Rules Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            <li>Tournament Rules Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            <li>Tournament Rules Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            <li>Tournament Rules Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          </ol>
        </div>
        <div class="detailbox">
          <p class="labeltext">Tournament Primary Sponsor</p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Logo</th>
                <th>Slogan Image</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Pepsi Co</td>
                <td><img class="tournament-logos" title="Tournament Logo" alt="Tournament Logo" src="./assets/images/logo.svg"></td>
                <td>Pepsi Co Slogan Image</td>
                <td>Tournament Rules Lorem Ipsum is simply dummy text of the printing and typesetting industry. Tournament Rules
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="detailbox">
          <p class="labeltext">Tournament Secondary Sponsor</p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Logo</th>
                <th>Slogan Image</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Pepsi Co</td>
                <td><img class="tournament-logos" title="Tournament Logo" alt="Tournament Logo" src="./assets/images/logo.svg"></td>
                <td>Pepsi Co Slogan Image</td>
                <td>Tournament Rules Lorem Ipsum is simply dummy text of the printing and typesetting industry. Tournament Rules
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="detailbox">
          <p class="labeltext">Official Sponsor</p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Logo</th>
                <th>Slogan Image</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Pepsi Co</td>
                <td><img class="tournament-logos" title="Tournament Logo" alt="Tournament Logo" src="./assets/images/logo.svg"></td>
                <td>Pepsi Co Slogan Image</td>
                <td>Tournament Rules Lorem Ipsum is simply dummy text of the printing and typesetting industry. Tournament Rules
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="detailbox">
          <p class="labeltext">Other Sponsor</p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Logo</th>
                <th>Slogan Image</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Pepsi Co</td>
                <td><img class="tournament-logos" title="Tournament Logo" alt="Tournament Logo" src="./assets/images/logo.svg"></td>
                <td>Pepsi Co Slogan Image</td>
                <td>Tournament Rules Lorem Ipsum is simply dummy text of the printing and typesetting industry. Tournament Rules
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="detailbox">
          <p class="lead">Tournament Start Date: <b> 11/01/2018</b> Tournament End Date: <b> 10/02/2018</b></p>
          <div class="detailbox">
            <p class="labeltext">Action:</p>
            <div class="form-group">
              <label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes</label>
              <label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No</label>
            </div>
            <div class="form-group">
              <a class="btn btn-primary" href="#" role="button">Create Player Form</a>
            </div>
          </div>
          <div class="detailbox">
              <p class="labeltext">Action:</p>
              <div class="form-group">
                <label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes</label>
                <label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No</label>
              </div>
              <div class="form-group">
                <a class="btn btn-primary" href="#" role="button">Create Player Form</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>