 <form [formGroup]="cForm" (ngSubmit)="saveQuote()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Quotes Master</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group marbot15">
                        <input type="text" formControlName="quoteName" class="form-control" id="AddCity" placeholder="Enter new city name">
                        <div class="input-group-addon input-group-btn"><button type="submit" [disabled]="!cForm.valid">Add City</button></div>
                    </div>
                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '8px' }"></ngx-loading>

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>isActive
                              
                                </th>
                            </tr>
                        </thead>
                        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '8px' }"></ngx-loading>
                        <tbody *ngFor="let sb of quotes;let i =index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{sb.name}}</td>
                                <td><a href="#" (click)="deleteQuote(sb.id)"><i class="lnr lnr-trash"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>