<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Account Bookings</h1>
            <div class="box">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Transaction ID</th>
                            <th>Date and Time of Booking</th>
                            <th>Booking Details</th>
                            <th>Fees</th>
                            <th>Reward points used</th>
                            <th>Coupon Code Discount</th>
                            <th>Net Fees Paid</th>
                         </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sb of slides;let i =index">
                            <td>{{sb.id}}</td>
                            <td>{{sb.transactionid}}</td>
                            <td>{{sb.bookingdate| date:'short'}}</td>
                            <td>Some text</td>
                            <td>{{sb.fees}}</td>
                            <td>{{sb.reward}}</td>
                            <td>{{sb.couponamt}}</td>
                            <td>{{sb.totalamount}}</td>
 
                        </tr>
     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
