<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Account Bookings</h1>
            <div class="box">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Transaction ID</th>
                            <th>Date and Time of Booking</th>
                            <th>Booking Details</th>
                            <th>Fees</th>
                            <th>Reward points used</th>
                            <th>Coupon Code Discount</th>
                            <th>Net Fees Paid</th>
                            <th>Re-Book</th>
                            <th>Support</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>23</td>
                            <td>2342342323</td>
                            <td>12/03/2018</td>
                            <td>Some text</td>
                            <td>500</td>
                            <td>50</td>
                            <td>20%</td>
                            <td>200</td>
                            <td>
                                <button class="btn btn-primary btn-sm">Re-Book</button>
                            </td>
                            <td>
                                <button class="btn btn-default btn-sm">Support</button>
                            </td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>2342342323</td>
                            <td>12/03/2018</td>
                            <td>Some text</td>
                            <td>500</td>
                            <td>50</td>
                            <td>20%</td>
                            <td>200</td>
                            <td>
                                <button class="btn btn-primary btn-sm">Re-Book</button>
                            </td>
                            <td>
                                <button class="btn btn-default btn-sm">Support</button>
                            </td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>2342342323</td>
                            <td>12/03/2018</td>
                            <td>Some text</td>
                            <td>500</td>
                            <td>50</td>
                            <td>20%</td>
                            <td>200</td>
                            <td>
                                <button class="btn btn-primary btn-sm">Re-Book</button>
                            </td>
                            <td>
                                <button class="btn btn-default btn-sm">Support</button>
                            </td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>2342342323</td>
                            <td>12/03/2018</td>
                            <td>Some text</td>
                            <td>500</td>
                            <td>50</td>
                            <td>20%</td>
                            <td>200</td>
                            <td>
                                <button class="btn btn-primary btn-sm">Re-Book</button>
                            </td>
                            <td>
                                <button class="btn btn-default btn-sm">Support</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
