
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Reward Point History Page</h1>
            <div class="box">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Before booking balance</th>
                            <th>Reward Point used</th>
                            <th>Reward Point remaining</th>
                            <th>Support</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>23</td>
                            <td>500</td>
                            <td>50</td>
                            <td>450</td>
                            <td>
                                <button class="btn btn-default btn-sm">Support</button>
                            </td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>500</td>
                            <td>50</td>
                            <td>450</td>
                            <td>
                                <button class="btn btn-default btn-sm">Support</button>
                            </td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>500</td>
                            <td>50</td>
                            <td>450</td>
                            <td>
                                <button class="btn btn-default btn-sm">Support</button>
                            </td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>500</td>
                            <td>50</td>
                            <td>450</td>
                            <td>
                                <button class="btn btn-default btn-sm">Support</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>