<!--BOOK NOW PAGE-->
<div class="container">
        <div class="row">
            <div class="col-md-5">
                <!--owl-carousel-->
                <img src="../assets/images/ground-01.jpg" class="img-responsive">
                <!--owl-carousel-->
            </div>
            <div class="col-md-7">
                <h1>Hubli Sports Club</h1>
                <a href="#" class="btn btn-default">More Info</a>
            </div>
        </div>
        <div class="martop30">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Booking" aria-controls="Booking" role="tab" data-toggle="tab">Booking</a></li>
            <li role="presentation"><a href="#Membership" aria-controls="Membership" role="tab" data-toggle="tab">Membership</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane box active" id="Booking">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-justified mar200" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <a href="#" class="btn btn-default">MON <br>23ed Jan</a>
                            </div>
                            <div class="btn-group" role="group">
                                <a href="#" class="btn btn-default">TUE <br>24th Jan</a>
                            </div>
                            <div class="btn-group" role="group">
                                <a href="#" class="btn btn-default">WED <br>25th Jan</a>
                            </div>
                        </div>
                        <div class="box">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Court</th>
                                        <th>Timing</th>
                                        <th>Cost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let sb of booking;let i = index">
                                        <th>{{i}}</th>
                                        <td>{{sb.courtname}}</td>
                                        <td *ngFor="let slt of sb.slot;let i = index" ><span class="badge">{{slt}}</span></td>
                                        <td>50,000</td>
                                    </tr>
                            
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">No. of Matches
                                            <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        </td>
                                        <td class="text-right">Total Cost:</td>
                                        <td><strong>1,50,000</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="mar200 text-right">
                            <a (click)="showcart()" class="btn btn-primary btn-lg">Proceed</a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane box" id="Membership">
                <div class="row">
                    <div class="col-md-12">
                        <p>Tab Two Contents</p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
