<!--BOOK NOW PAGE-->
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <!--owl-carousel-->
            <img src="../assets/images/ground-01.jpg" class="img-responsive">
            <!--owl-carousel-->
        </div>
        <div class="col-md-7">
            <h1>{{arenaname}}</h1>
            <a href="#" class="btn btn-default">More Info</a>
        </div>
    </div>
    <div class="martop30">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Booking" aria-controls="Booking" role="tab" data-toggle="tab">Booking</a></li>
            <li role="presentation"><a href="#Membership" aria-controls="Membership" role="tab" data-toggle="tab">Membership</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane box active" id="Booking">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active"><a (click)="getSlot('0')" role="tab" data-toggle="tab">{{getweekday('0')}} <br>{{getdate('0')}}</a></li>
                            <li role="presentation"><a (click)="getSlot('1')" role="tab" data-toggle="tab">{{getweekday('1')}} <br>{{getdate('1')}}</a></li>
                            <li role="presentation"><a (click)="getSlot('2')" role="tab" data-toggle="tab">{{getweekday('2')}} <br>{{getdate('2')}}</a></li>
                            <li role="presentation"><a (click)="getSlot('3')" role="tab" data-toggle="tab">{{getweekday('3')}} <br>{{getdate('3')}}</a></li>
                            <li role="presentation"><a (click)="getSlot('4')" role="tab" data-toggle="tab">{{getweekday('4')}} <br>{{getdate('4')}}</a></li>
                            <li role="presentation"><a (click)="getSlot('5')" role="tab" data-toggle="tab">{{getweekday('5')}} <br>{{getdate('5')}}</a></li>
                            <li role="presentation"><a (click)="getSlot('6')" role="tab" data-toggle="tab">{{getweekday('6')}} <br>{{getdate('6')}}</a></li>
                        </ul>
                        <div class="box">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Court</th>
                                        <th>Timing</th>
                                        <th>Cost</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let sb of booking | weekfilter:filterargs; let i = index ">
                                        <td>{{i+1}}</td>
                                        <td>{{sb.courtname}}</td>
                                        <td>
                                            <div *ngFor="let slt of sb.slot;let j = index">
                                              
                                               <div *ngIf="slt.timediff=='0'  ;then content1 else content2">here is ignored</div>
                                                <ng-template #content1>
                                                    <div >
                                                        <label class="chkboxnew" >
                                                        <input [disabled]="slt.timediff=='0'" hidden   type="checkbox"> {{slt.timing}}
                                                    </label>
                                                    </div>
                                                </ng-template>
                                                <ng-template #content2>
                                                    <div class="chkbox">
                                                        <label [ngClass]="slt.selected === true ?'active' : ''">
                                                        <input [disabled]="slt.slot==0" hidden (change)="slotSelection(sb,i)" [(ngModel)]="slt.selected" type="checkbox"> {{slt.timing}}
                                                    </label>
                                                    </div>
                                                </ng-template>

                                            </div>
                                        </td>
                                        <td>5000</td>
                                        <td>{{sb.amount}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3">No. of Members
                                            <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        </td>
                                        <!--<td class="text-right">Total Cost:</td>
                                       <td><strong>{{subtotal}}</strong></td>-->
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="mar200 text-right">
                            <span>{{total}}</span>
                            <a (click)="showcart()" class="btn btn-primary btn-lg">Proceed</a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane box" id="Membership">
                <div class="row">
                    <div class="col-md-12">
                        <p>Tab Two Contents</p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>